/*
 *= require_self
 */

body
{
    margin: 0;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    -webkit-text-size-adjust: none;
}

hr
{
    margin: 2em 0 2em 0;
}

h1, h2, h3, h4
{
    margin: 0;
    font-weight: 600;
    text-shadow: 1px 1px 2px #bbb;
}

h1
{
    margin: 0;
    font-size: 180%;
}

h2
{
    font-size: 130%;
}

h1 a:link, h1 a:active, h1 a:visited,
h2 a:link, h2 a:active, h2 a:visited
{
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

h3
{
    font-size: 100%;
    color: #999;
    text-shadow: none;
}

p
{
    margin-top: 1em;
}

a:link
{
    background-color: transparent;
    color: #0000dd;
}

a:visited
{
    background-color: transparent;
    color: #000088;
}

a:hover
{
    background-color: transparent;
    color: #5555ff;
}

td
{
    vertical-align: top;
}

header
{
    position: fixed;
    width: 100%;
    padding: 1em 0 1em 0;
    border-bottom: solid 1px #dfdfdf;
    background-color: rgba(240, 240, 240, 0.9);
    color: inherit;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

h1, nav, #content
{
    max-width: 1000px;
    padding: 0 16px 0 16px;
    margin: auto;
}

nav
{
    font-size: 90%;
}

nav a:link, nav a:active, nav a:visited
{
    display: inline-block;
    margin-right: 0.5em;
    border-bottom: solid 2px transparent;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

nav a:hover
{
    border-color: black;
}

#content
{
    padding-top: 7em;
}

.photo
{
    float: right;
    padding: 1em;
}

.photo > img
{
    border: solid 1px black;
    width: 150px;
    box-shadow: 2px 2px 12px black;
}

footer
{
    padding: 1em;
    font-size: 80%;
    text-align: center;
    color: #a0a0a0;
    background-color: transparent;
}

li p
{
    margin: 0.25em 0 1em 0;
}

.CodeDisplay
{
    overflow: auto;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 600px;
    height: 300px;
    padding: 8px;
    border: solid 2px #505050;
    background-color: white;
    color: black;
    z-index: 1;
}

pre
{
    padding-left: 1em;
    border-left: solid 2px #d0d0d0;
}

figure.highlight
{
    margin-left: 0;
}

code
{
    font-family: Menlo, monospace;
}

table.BorderedTable
{
    border-collapse: collapse;
}

table.BorderedTable th, table.BorderedTable td
{
    padding: 4px;
    border: solid 1px black;
}

@media screen and (max-device-width: 640px)
{
    header
    {
        position: static;
    }

    #content
    {
        padding-top: 1em;
    }

    img
    {
        max-width: 100%;
    }

    .photo > img
    {
        width: 100px;
    }
}

@media print
{
    h1, h2, h3, h4
    {
        text-shadow: none;
    }

    header
    {
        position: static;
        border: none;
    }

    nav
    {
        display: none;
    }

    #content
    {
        padding-top: 1em;
    }

    .photo > img
    {
        box-shadow: none;
    }
}
