<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale = 1.0" />
  {% if page.title %}
  <title>{{ page.title }} - joshbeam.com</title>
  {% else %}
  <title>joshbeam.com</title>
  {% endif %}
  <link href="{{ site.url }}/stylesheets/application.css" media="all" rel="stylesheet" />
  <link href="{{ site.url }}/stylesheets/syntax.css" media="all" rel="stylesheet" />
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89448234-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>
<body>

<header>
  <h1><a href="/">Josh Beam&#39;s Website</a></h1>

  <nav id="menu">
    <a href="/articles">articles</a>
    <a href="/software">software</a>
    <a href="mailto:josh@joshbeam.com">email</a>
    <a href="https://www.facebook.com/josh.a.beam">facebook</a>
    <a href="https://www.linkedin.com/in/joshbeam">linkedin</a>
    <a href="https://github.com/joshb">github</a>
  </nav>
</header>

<div id="content">
  {% if page.title %}
  <h2>{{ page.title }}</h2>
  {% endif %}

  {% if page.date %}
  <h3>
    {{ page.date | date: "%B %-d, %Y" }}

    {% if page.last_updated_date %}
    (last updated {{ page.last_updated_date | date: "%B %-d, %Y" }})
    {% endif %}
  </h3>
  {% endif %}

  {{ content }}
</div>

<footer>
  Copyright &copy; 2002-2016 Josh Beam
</footer>

</body>
</html>
